@font-face {
  font-family: 'W95FA';
  src: url('./assets/fonts/W95FA/w95fa.woff2/') format('woff2'),
    url('./assets/fonts/W95FA/w95fa.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  src: url('./assets/fonts/Silka/silka-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/Silka/silka-regular-webfont.woff') format('woff'),
    url('./assets/fonts/Silka/silka-regular-webfont.ttf') format('ttf'),
    url('./assets/fonts/Silka/silka-regular-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@mixin medium-screen {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin small-screen {
  @media (max-width: 600px) {
    @content;
  }
}

* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 110px;
}

html {
  font-family: 'Silka', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  background-color: #08033d;
  color: #dedede;
  font-family: 'Silka' Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

input,
button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background: #00000000;
  color: #dedede;
  border: #dedede solid 1px;
  border-radius: 4px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: translate(2px, 0px);
    background: #dedede;
    color: #222222;
  }
}

header {
  padding: 2rem;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: 'W95FA', Arial, Helvetica, sans-serif;

  .header-nav-button {
    font-size: 36px;
    cursor: pointer;
    display: none;

    @include medium-screen {
      display: block;
    }
  }

  @include small-screen {
    padding: 1rem;
  }
}

.main-wrapper {
  display: flex;
  gap: 2rem;

  @include medium-screen {
    flex-direction: column;
  }

  .search-section-container {
    position: relative;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    @include medium-screen {
      --search-position: 0px;
      max-height: var(--search-position);

      &.open {
        --search-position: 100%;
      }
    }
  }

  .search-section {
    flex-grow: 1;
    flex-basis: 25%;
    padding: 2rem;
    background-color: #222222;
    height: calc(100vh - var(--header-height) + 2px);
    overflow: scroll;

    @include medium-screen {
      min-height: unset;

      padding: 1rem;
    }

    #search-form {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #dedede solid 3px;
    }

    .remove-history-button {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: all 300ms ease-in-out;
      padding: 0.125rem;
      border-radius: 4px;

      &:hover {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        color: #dedede !important;
        border: #dedede solid 1px;
      }
    }

    .history-btn-wrapper:hover {
      .remove-history-button {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
    }

    .clear-search-history {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: #dedede solid 3px;

      button {
        border-color: #c73232;
        color: #c73232;
      }
    }
  }

  .weather-display {
    flex-grow: 2;
    flex-basis: 75%;
    padding: 2rem;

    @include medium-screen() {
      padding: 1rem;
    }

    &__current {
      margin-bottom: 2rem;
      background-color: #10cfcc;
      background: linear-gradient(140deg, #10cfcc 0%, #12059e 100%);
      color: #222222;
      border-radius: 8px;
      padding: 1rem 0.5rem;
      box-shadow: inset 5px 5px 14px 7px #2222222b, 5px 5px 10px 3px #1111112b;

      > * {
        padding-bottom: 0.25rem;
      }
    }

    &__upcomming {
      --slide-number: 5;

      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      transition: all 300ms ease-in-out;

      > * {
        min-width: calc(
          100% / var(--slide-number) - 1rem + 1rem / var(--slide-number)
        );
        background-color: #10cfcc;
        color: #222222;
        border-radius: 8px;
        padding: 1rem 0.5rem;
        box-shadow: inset 5px 5px 14px 7px #2222222b, 5px 5px 10px 3px #1111112b;

        @include medium-screen {
          --slide-number: 3;
        }

        @include small-screen {
          --slide-number: 2;
        }

        > * {
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}
